@import 'theme';
ul.pension-list {
	a {
		height: 68px;
	}
	img.pension-thumbnail {
		height: 90px;
		float: left;
	}
}
ul.coupon-info {
	margin: 0px 15px;
	li {
		height: 82px;
		margin-top: -1px;
		h3 {
			font-size: .9em;
			margin-top: 0px;
		}
		.org_price {
			font-size: .8em;
			text-decoration: line-through;
		}
		.dis_price {
			color: red;
			margin-left: 10px;
		}
	}
	img.pension-thumbnail {
		height: 90px;
	}
}
ul.theme-list {
	img {
		float: left;
	}
}
.ui-select {
	display: inline;
}
#paginator {
	text-align: center;
	background: #1d7351;
}
.align-center {
	text-align: center;
}
.full-btn {
	margin-left: 15px;
	margin-right: 15px;
}
#header {
	border: none;
	background: url('/assets/mobile/header_bg.png');
	background-position: bottom center;
	height: 70px;
	div {
		background: url('/assets/mobile/header.png');
		background-repeat: no-repeat;
		background-position: bottom center;
		height: 70px;
		margin-top: 0px;
		img {
			width: 100px;
			margin-top: 15px;
		}
		span {
			font-weight: bold;
			position: relative;
			top: 25px;
		}
	}
	.ui-btn {
		margin-top: 15px;
	}
}
#search-bar {
	margin: 0px;
}
#footer {
	border: none;
	background: url('/assets/mobile/footer_bg.png');
	height: 72px;
	div {
		background: url('/assets/mobile/footer.png');
		background-repeat: no-repeat;
		background-position: center;
		height: 72px;
		.ui-btn {
			margin-top: 10px;
		}
	}
}
#main-bg {
	background: #228960;
	.logo {
		img {
			width: 200px;
		}
		padding-top: 20px;
	}
	#main-btn {
		width: 80%;
		text-align: center;
		margin: 0px auto;
		padding-bottom: 30px;
		td {
			width: 50%;
		}
		a {
			line-height: 2em;
			.ui-btn-inner {
				padding: 10px;
			}
		}
	}
}
#show-info {
	padding: 0px 22.5px;
}
#show-btn {
	width: 100%;
	text-align: center;
	margin: 0px auto;
	padding: 0px 7.5px;
	a {
		line-height: 2em;
		.ui-btn-inner {
			white-space: normal;
			padding: 5px;
			height: 50px;
			hr {
				color: #fff;
				background: #fff;
				height: 1px;
				margin: 0px;
			}
		}
	}
	.addr-btn {
		font-size: .9em;
		width: 60%;
	}
	.phone-btn {
		font-size: .7em;
	}
}
.show-img {
	width: 100%;
}
.ui-bar {
	.ui-left {
		margin-top: 10px;
		float: left;
	}
	.ui-right {
		float: right;
	}
}
#banner {
	height: 50px;
	background: url("/assets/mobile_banner_bg.png");
}
.alert {
	color: red;
}
