<div id="spot-nav" class="ui-bar">
  <%= form_tag spots_path, :method => :get, 'data-ajax' => false do %>
    <%= select_tag 'area_id', options_from_collection_for_select(Area.all, 'id', 'title', @area ? @area.id : ''), :prompt => @area ? '전체' : '지역', :onchange => "$('#sub_area_id').val('');$('#spot-nav form').submit()" %>
    <%= select_tag 'sub_area_id', options_from_collection_for_select(@area.sub_areas, 'id', 'title', @sub_area ? @sub_area.id : ''), :prompt => @sub_area ? '전체' : '지역', :onchange => "$('#spot-nav form').submit()" if @area %>
	<% end %>
</div>
<hr class="green">