<div id="sidebar">
  <%= render 'menu' %>
</div>

<div id="myresty">
  <div id="favorite-resty">
		<div id="favorite-resty-title">
		    <h3>FAVORITE RESTY</h3>
		    <div class="category">
		    <a href="#">전체</a> | <a href="#">좋아요</a> | <a href="#">리뷰</a>
		    </div>
		    <div class="line_green"></div>
		</div>
		<div id="favorite-resty-list">
		    <ul>
		        <li class="odd">1박 2일 추월산펜션을 좋아합니다.</li>
		        <li class="even">1박 2일 추월산펜션을 리뷰했습니다.</li>
		        <li class="odd">1박 2일 추월산펜션을 좋아합니다.</li>
		        <li class="even">1박 2일 추월산펜션을 리뷰했습니다.</li>
		        <li class="odd">1박 2일 추월산펜션을 좋아합니다.</li>
		    </ul>
		    <div class="line_green"></div>
		</div>
		<div id="favorite-resty-page">
		    <a href="#">1</a>
		    <span>2</span>
		    <a href="#">3</a>
		    <a href="#">4</a>
		</div>
	</div>

	<div id="click-pension">
		<div id="click-pension-title">
		    <h3>FAVORITE RESTY</h3>
		    <div class="category">
		    <a href="#">전체</a> | <a href="#">좋아요</a> | <a href="#">리뷰</a>
		    </div>
		    <div class="line_green"></div>
		</div>
		<div id="click-pension-list">
		    <ul>
		        <li class="odd">2011년 8월 27일</li>
		        <li class="even">1박 2일 추월산펜션을 리뷰했습니다.</li>
		        <li class="even">1박 2일 추월산펜션을 좋아합니다.</li>
		        <li class="even">1박 2일 추월산펜션을 리뷰했습니다.</li>
		        <li class="even">1박 2일 추월산펜션을 좋아합니다.</li>
		    </ul>
		    <div class="line_gray"></div>
		    <ul>
		        <li class="odd">2011년 8월 23일</li>
		        <li class="even">1박 2일 추월산펜션을 리뷰했습니다.</li>
		        <li class="even">1박 2일 추월산펜션을 좋아합니다.</li>
		        <li class="even">1박 2일 추월산펜션을 리뷰했습니다.</li>
		        <li class="even">1박 2일 추월산펜션을 좋아합니다.</li>
		    </ul>
		    <div class="line_green"></div>
		</div>
		<div id="click-pension-page">
		    <a href="#">1</a>
		    <span>2</span>
		    <a href="#">3</a>
		    <a href="#">4</a>
		</div>
	</div>
</div>