<div class="pages">
 <h1>개인정보취급방침</h1>
 <p>'주식회사 레스티'는 (이하 '회사'라 합니다.) 이용자의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 등 개인정보와 관련된 법령 상의 개인정보보호규정 및 방송통신위원회가 제정한 "개인정보보호지침"을 준수하고 있습니다.<br>회사는 개인정보취급방침을 통해 이용자가 제공한 개인정보가 어떠한 용도와 방식으로 이용되며, 개인정보보호를 위해 어떠한 방법을 통해 관리되고 있는지에 대해 알려드립니다.</p>
 <p>회사의 개인정보 취급방침은 정부의 법률 및 지침 변경이나 회사의 내부 방침 변경 등으로 인하여 수시로 변경될 수 있고, 이에 따른 개인정보 취급방침의 지속적인 개선을 위하여 필요한 절차를 정하고 있습니다. 그리고 개인정보 취급방침을 개정하는 경우 회사는 개인정보 취급방침 변경 시행 7일전부터 온오프믹스 공지사항을 통하여 공지하고 버전번호 및 개정일자 등을 부여하여 개정된 사항을 이용자들이 쉽게 알아볼 수 있도록 하고 있습니다.</p>
 <p>본 방침은 2011년 10월 11일 부터 시행됩니다.</p>
 <h2>1. 개인정보 수집에 대한 동의</h2>
 <p>회사는 이용자들이 회사의 개인정보 취급방침 또는 이용약관의 내용에 대하여 「동의」버튼 또는 「취소」버튼을 클릭할 수 있는 절차를 마련하여, 「동의」버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다.</p>
 <h2>2. 개인정보의 수집목적 및 이용목적</h2>
 <p>"개인정보"라 함은 생존하는 개인에 관한 정보로, 성명, 이메일 주소, 전화번호 등 개인을 식별할 수 있는 정보를 말합니다.<br>대부분의 레스티 서비스는 별도의 사용자 등록이 없이 확인이 가능합니다. 그러나 회사는 리뷰작성등 회원 활동등의 서비스 를 위하여 이용자 개인의 정보를 수집하고 있습니다.<br>회사는 이용자의 사전 동의 없이는 이용자의 개인 정보를 공개하지 않으며, 수집된 정보는 아래와 같이 이용하고 있습니다.</p>
 <ul>
   <li>
     1) 수집항목
     <ul>
       <li>ID : 서비스 로그인에 사용하는 ID로 통용되며 서비스 이용에 따른 본인식별의 정보로 사용</li>
       <li>이메일 주소 및 비밀번호: 민원사항 처리를 위한 본인식별, 고지사항 전달, 본인 의사 확인, 불만처리 등 의사소통 경로의 확보, 새로운 서비스나 신상품, 이벤트 정보 등 최선 정보 안내</li>
       <li>그 외 선택항목 : 개인맞춤서비스를 제공하기 위한 자료</li>
       <li>IP Address, 방문 일시 : 불량회원의 부정 이용 방지와 비인가 사용 방지</li>
      </ul>
    </li>
    <li>2) 이용자들의 개인정보를 기반으로 보다 더 유용한 서비스를 개발할 수 있습니다. 회사는 신규 서비스개발이나 콘텐츠의 확충 시에 기존 이용자들이 회사에 제공한 개인정보를 바탕으로 개발해야 할 서비스의 우선 순위를 보다 더 효율적으로 정하고, 회사는 이용자들이 필요로 할 콘텐츠를 합리적으로 선택하여 제공할 수 있습니다.</li>
    <li>3) 회사가 제공하는 각종 정보 및 서비스 등은 대부분 무료입니다. 회사는 이러한 무료 서비스를 제공하기 위해 광고를 유치할 수 있으며 이때 이용자들에 대한 정확한 개인정보를 바탕으로 각 서비스나 메뉴 등에 적절하게 광고와 내용들을 전달할 수 있습니다. 회사는 광고주들로부터 광고를 받아 광고주들이 대상으로 하려는 이용자의 유형에 맞게 광고를 보여줄 뿐, 광고주들에게는 절대로 이용자들의 개인정보를 보여주거나 제공하지 않습니다.</li>
  </ul>
  <h2>3. 개인정보 항목 및 수집방법</h2>
  <p>회사는 이용자들이 회원서비스를 이용하기 위해 회원으로 가입하실 때 서비스 제공을 위한 필수적인 정보들을 온라인상에서 입력 받고 있습니다. 회원 가입 시에 받는 필수적인 정보는 ID, 이메일주소와 비밀번호이며 향후 서비스를 위해 성별, 사는지역, 나이등의 상세 정보를 선택적으로 받고 있습니다.</p>
  <h2>4. 개인정보의 보유 및 이용기간</h2>
  <p>회사는 회원가입일로부터 서비스를 제공하는 기간 동안에 한하여 이용자의 개인정보를 보유 및 이용하게 됩니다.<br>회원 탈퇴를 요청하거나 개인정보의 수집 및 이용에 대한 동의를 철회하는 경우, 수집 및 이용목적이 달성되거나 보유 및 이용기간이 종료한 경우 해당 개인정보를 지체 없이 파기합니다.<br>단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.</p>
  <ul>
    <li>보존 항목: 로그인ID(이메일)</li>
    <li>보존 근거: 서비스 이용의 혼선 방지, 불법적 사용자에 대한 관련 기관 수사협조</li>
    <li>보존 기간: 1년</li>
  </ul>
  그리고 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.
  <ul>
    <li>보존 항목: 서비스 이용기록, 접속 로그, 접속 IP 정보</li>
    <li>보존 근거: 통신비밀보호법</li>
    <li>보존 기간: 3개월</li>
    <li>표시/광고에 관한 기록: 6개월 (전자상거래등에서의 소비자보호에 관한 법률)</li>
    <li>계약 또는 청약철회 등에 관한 기록: 5년 (전자상거래등에서의 소비자보호에 관한 법률)</li>
    <li>대금결제 및 재화 등의 공급에 관한 기록: 5년 (전자상거래등에서의 소비자보호에 관한 법률)</li>
    <li>소비자의 불만 또는 분쟁처리에 관한 기록: 3년(전자상거래등에서의 소비자보호에 관한 법률)</li>
  </ul>
  <p>회사에 제공하는 서비스를 이용하는 동안 회사는 이용자들의 개인정보를 계속적으로 보유하며 서비스 제공 등을 위해 이용합니다. 다만, 자신의 개인정보 관리(열람, 정정, 삭제 등)에 관한 사항" 에서 설명한 절차와 방법에 따라 회원 본인이 직접 삭제하거나 수정한 정보, 가입 해지를 요청한 경우에는 재생할 수 없는 방법에 의하여 디스크에서 완전히 삭제하며 추후 열람이나 이용이 불가능한 상태로 처리됩니다.</p>
  <h2>5. 개인정보의 파기절차 및 방법</h2>
  회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.
  <ul>
    <li>파기절차</li>
    <li>
      <ul>
        <li>- 이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어 집니다.</li>
        <li>- 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</li>
      </ul>
    </li>
    <li>파기방법</li>
    <li>
      <ul>
        <li>- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</li>
        <li>- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</li>
      </ul>
    </li>
  </ul>
  <h2>6. 개인정보 제공</h2>
  회사는 이용자들의 개인정보를 "2. 개인정보의 수집목적 및 이용목적"에서 고지한 범위 내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 제공하지 않습니다. 단, 다음의 경우에는 주의를 기울여 개인정보를 이용 및 제공할 수 있습니다.
  <ul>
    <li>이용자들이 사전에 공개에 동의한 경우 (자세한 내용은 아래 링크를 통해 별도로 기재되며 해당 업체는 추후 변동될 수 있습니다.)</li>
    <li>
      <ul>
        <li>- 서비스 제공 내역</li>
        <li>- 이벤트 제공 내역</li>
      </ul>
    </li>
    <li>서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적/기술적인 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우</li>
    <li>법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</li>
  </ul>
  <h2>7. 이용자 및 법정대리인의 권리와 그 행사방법</h2>
  <p>이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다. 이용자 혹은 만 14세 미만 아동의 개인정보 조회/수정을 위해서는 '개인정보변경'(또는 '회원정보수정' 등)을 가입해지(동의철회)를 위해서는 "회원탈퇴"를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.<br>혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.<br>이용자의 개인정보의 오류에 대한 정정을 요청한 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다. 회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 "개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</p>
  <h2>8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</h2>
  회사는 이용자에게 특화된 맞춤서비스를 제공하기 위해서 이용자들의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)' 등을 운용합니다. 쿠키란 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로서 이용자의 컴퓨터 하드디스크에 저장되기도 합니다. 회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.
  <ul>
    <li>쿠키 등 사용 목적</li>
    <li>
      <ul>
        <li>회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공</li>
        <li>이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.</li>
      </ul>
    </li>
    <li>쿠키 설정 거부 방법</li>
    <li>
      <ul>
        <li>예: 쿠키 설정을 거부하는 방법으로는 이용자가 사용하는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.</li>
        <li>설정방법 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보</li>
        <li>단, 쿠키 설치를 거부하였을 경우 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.</li>
      </ul>
    </li>
  </ul>
  <h2>9. 개인정보의 기술적, 관리적 보호 대책</h2>
  회사는 이용자의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안정성 확보를 위하여 다음과 같은 기술적, 관리적 대책을 강구하고 있습니다.
  <ul>
    <li>1) 개인정보 암호화</li>
    <li>
      <ul>
        <li>이용자의 개인정보는 비밀번호에 의해 보호되며, 중요한 데이터는 파일 및 전송 데이터를 암호화하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 통해 보호 하고 있습니다.</li>
      </ul>
    </li>
    <li>2) 해킹 등에 대비한 기술적 대책</li>
    <li>
      <ul>
        <li>회사는 해킹이나 컴퓨터 바이러스 등에 의해 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해 외부로부터 접근이 통제된 구역에 시스템을 설치하고, 침입 차단장치 이용 및 침입탐지시스템을 설치하여 24시간 감시하고 있습니다.<br>그리고 백신 프로그램을 주기적으로 업데이트하며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 적용함으로써 개인정보가 침해되는 것을 방지하고 있습니다.</li>
      </ul>
    </li>
    <li>3) 개인정보처리시스템 접근 제한</li>
    <li>
      <ul>
        <li>회사는 개인정보를 처리할 수 있도록 체계적으로 구성한 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소 등에 관한 기준을 수립하고 비밀번호의 생성 방법, 변경 주기 등을 규정 운영하며 기타 개인정보에 대한 접근통제를 위해 필요한 조치를 다하고 있습니다.</li>
      </ul>
    </li>
    <li>4) 개인정보 취급 직원의 교육</li>
    <li>
      <ul>
        <li>개인정보관련 취급 직원은 담당자에 한정시켜 최소화 하고 새로운 보안기술의 습득 및 개인정보보호 의무에 관해 정기적인 교육을 실시하며 별도의 비밀번호를 부여하여 접근 권한을 관리하는 등 관리적 대책을 시행하고 있습니다.</li>
      </ul>
    </li>
    <li>5) 개인</li>
    <li>
      <ul>
        <li>이용자가 사용하는 ID와 비밀번호는 원칙적으로 이용자만이 사용하도록 되어 있습니다. 회사는 이용자의 개인적인 부주의로 ID, 비밀번호, 주민등록번호 등 개인정보가 유출되어 발생한 문제와 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다.비밀번호에 대한 보안 의식을 가지고 비밀번호를 자주 변경하며 공용PC에서의 로그인시 개인정보가 유출되지 않도록 각별한 주의를 기울여 주시기 바랍니다.</li>
      </ul>
    </li>
  </ul>
  <h2>10. 개인정보에 관한 민원서비스</h2>
  <p>회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보관리책임자를 지정하고 있습니다.<br>이용자는 레스티 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.</p>
  개인정보 관리책임자
  <ul>
    <li>성 명 : 임진석</li>
    <li>전 화 : 070-4193-1018</li>
    <li>메일 : help@resty.co.kr</li>
  </ul>
  기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
  <ol>
    <li>개인분쟁조정위원회 (국번없이)118</li>
    <li>정보보호마크인증위원회 (02-580-0533~4)</li>
    <li>대검찰청 인터넷범죄수사센터 (02-3480-3600)</li>
    <li>경찰청 사이버테러대응센터 (02-392-0330)</li>
  </ol>
  <h2>11. 부칙</h2>
  이 개인정보취급방침은 2011년 10월 11일부터 적용되며, 법령. 정책 또는 보안기술의 변경에 따라 내용의 추가. 삭제 및 수정이 있을 시에는 변경사항의 시행일의 7일 전부터 레스티 사이트의 공지사항을 통하여 고지할 것 입니다.<br>개인정보취급방침 시행일자 : 2011년 10월 11일
</div>