<div class="title">
  <%= paginate @blog_reviews, :params => {:action => 'blog_posts'}, :remote => true, :theme => 'ajax' %>
</div>
<hr class="gray">
<ul>
<% @blog_reviews.each do |item| %>
  <li>
    <b><%= link_to truncate(strip_tags(item.title), :length => 30), item.link, :target => :blank %></b>
    <p><%= strip_tags item.desc %></p>
  </li>
<% end %>
<% if @blog_reviews.count == 0 %>
  <li><p class="empty">수집된 블로그 리뷰가 없습니다.</p></li>
<% end %>
</ul>