<div class="title">
  <%= paginate @pension_images, :params => {:action => 'pension_images'}, :remote => true, :theme => 'ajax' %>
</div>
<hr class="gray">
<ul>
<% @pension_images.each_with_index do |item, idx| %>
  <li <%= ' class=last' if idx == 5 %>>
    <%= link_to image_tag(item.thumbnail), item.link, :target => :blank %>
  </li>
<% end %>
</ul>
<% if @pension_images.count == 0 %>
  <p class="empty">수집된 이미지가 없습니다.</p>
<% end %>
