<div class="friends-activities-box">
  <h3>이 지역 친구들의 활동</h3>
  <ul>
  <% 1.upto 3 do %>
    <li>
      <%= image_tag 'show_side_friend_id0000_face.png' %>
      <span>김풍기님이 고뱅이 펜션을..</span>
    </li>
  <% end %>
  </ul>
  <div class="footer"></div>
</div>

<div class="near-pensions-box">
  <h3>근처의 다른 펜션</h3>
  <ul>
    <li>
      <a href="#" class="name">1박2일 추월산펜션</a>
      <span class="like">좋아요</span>
      <span>전남 담양군 용면 월계리</span>
      <a href="#" class="review">리뷰100</a>
    </li>
    <li>
      <a href="#" class="name">1박2일 추월산펜션</a>
      <span class="like">좋아요</span>
      <span>전남 담양군 용면 월계리</span>
      <a href="#" class="review">리뷰1</a>
    </li>
    <li>
      <a href="#" class="name">1박2일 추월산펜션</a>
      <span class="like">좋아요</span>
      <span>전남 담양군 용면 월계리</span>
      <a href="#" class="review">리뷰90</a>
    </li>
  </ul>
  <div class="footer"></div>
</div>

<div class="must_visit_banner">
  <h3>Must Visit By Resty</h3>
  <%= image_tag 'pension_01.jpg' %>
</div>