<div id="sidebar">
  <%= render 'list_sidebar' %>
</div>

<div id="main_content">
  <div class="header">
    <%= render 'header' %>
    <%#= link_to image_tag('review_event_banner_1.png', :id => 'banner'), '/assets/review_event_popup.png', :class => 'colorbox' %>
    <%= render 'map' %>
  </div>
  <div id="pension-list">
    <%= render 'pension_list' %>
  </div>
</div>