<div id="sidebar">
  <%= render 'list_sidebar' %>
</div>

<div id="main_content">
  <div class="header">
    <%= render 'header' %>
    <%= render 'map' %>
  </div>
  <div id="pension-list">
    <%= render 'pension_list' %>
  </div>
</div>