<div id="sidebar">
  <%= render 'list_sidebar' %>
</div>

<div id="main_content">
  <div class="header">
    <%= render 'header' %>
    <%#= link_to image_tag('review_event_banner_1.png', :id => 'banner'), '/assets/review_event_popup.png', :class => 'colorbox' %>
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-3538850815126610";
    /* 레스티 */
    google_ad_slot = "0834756091";
    google_ad_width = 705;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    <%= render 'map' %>
  </div>
  <div id="pension-list">
    <%= render 'pension_list' %>
  </div>
</div>