/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#header, #footer {
	background-color: #F6F6F6;
	margin: 10px 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 30px;
}
#header {
	width: 900px;
	margin:0px auto;
}
#header nav {
	float: right;
}
#header nav ul li {
	list-style-type: none;
	display: inline;
}
#content {
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}
#footer {
	width: 900px;
	margin: 0px auto;
}