// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-category {
	position: relative;
	float: left;
	background-image: url("/assets/main_categorybox_bg.png");
	background-repeat: no-repeat;
	width: 629px;
	height: 462px;
}

#main-category table {
	width: 629px;
	padding: 0px;
	margin: 55px 0px 0px 0px;
}

#main-category table tr {
	height: 78px;
}

#main-category table tr td {
	width: 280px;
	padding: 0px 8px 0px 10px;
	margin: 0px;
	word-break: keep-all;
	word-wrap: break-word;
}

#main-category .local {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 35px;
}

#main-category a.underline:hover {
	text-decoration: underline;
	color: #1d7350;
}

#main-category a .num {
	color: #aaa;
}

#main-category a:hover {
	color: #2ab07b;
}

#main-category a:hover .num {
	color: #2ab07b;
}

#main-category a:hover .local {
	color: #2ab07b;
}

#main-facebook-activities {
	position: relative;
	float: left;
	width: 361px;
	height: 250px;
	&.fb-login {
		background-image: url("/assets/main_fb_activities_bg.png");
		background-repeat: no-repeat;
		div {
			position: relative;
			top: 58px;
			left: 1px;
		}
	}
	&.fb-logout {
		background-image: url("/assets/main_fb_activities_logout_bg.png");
	}
}

#main-facebook-activities ul {
	padding: 20px 0px 0px 0px;
}

#main-facebook-landmarks {
	position: relative;
	float: left;
	width: 361px;
	height: 212px;
	margin: 0px;
	&.fb-login {
		background-image: url("/assets/main_fb_landmarks_bg.png");
		background-repeat: no-repeat;
		div {
			position: relative;
			top: 52px;
			left: 1px;
		}
	}
	&.fb-logout {
		background-image: url("/assets/main_fb_landmarks_logout_bg.png");
	}
}

#main-landmarks {
	float: right;
	position: relative;
	background-image: url("/assets/main_landmarks_bg.png");
	background-repeat: no-repeat;
	width: 306px;
	height: 293px;
	ul {
		padding: 60px 0px 0px 0px;
		margin: 0px;
		list-style: none;
		li {
			height: 28px;
			padding-left: 30px;
			a {
				font-weight: bold;
				&:hover {
					color: #2ab07b;
				}
			}
			.season {
				background-image: url("/assets/main_landmarks_season_button.png");
				width: 50px;
				height: 18px;
				text-indent: -9999px;
				display: inline-block;
			}
		}
	}
}

#main-themes {
	position: relative;
	float: right;
	background-image: url("/assets/main_themes_bg.png");
	background-repeat: no-repeat;
	width: 323px;
	height: 293px;
	ul {
		margin: 45px 0px 0px 10px;
		padding: 0px;
		list-style: none;
		li {
			float: left;
		}
	}
	a {
		div {
			background-repeat: no-repeat;
			width: 51px;
			height: 52px;
			margin: 4px 13px;
			text-indent: -9999px;
		}
		@for $i from 1 through 16 {
			.theme_#{$i} {
				background-image: url("/assets/theme_icon_#{$i}.png");
			}
			&:hover {
				.theme_#{$i} {
					background-image: url("/assets/main_themes_icon_#{$i}_over.png");
				}
			}
		}
	}
}

#main-must-visit-title {
	background-image: url("/assets/main_must_visit_title.png");
	background-repeat: no-repeat;
	width: 361px;
	height: 29px;
}

#main-must-visit {
	position: relative;
	float: right;
	background-image: url("/assets/main_must_visit_bg.png");
	width: 361px;
	height: 293px;
}
