// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#area_list, #spot_list, #theme_list, #must_visit {
	background-color: #F6F6F6;
	margin: 10px 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 30px;
}
#area_list {
	width: 540px;
	float: left;
	#wide_btn {
		float: right;
	}
}
#content .wide {
	width: 900px;
}
#spot_list {
	width: 280px;
	float: right;
}
#theme_list {
	width: 540px;
	float: left;
}
#must_visit {
	width: 280px;
	float: right;
}