// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-category {
	position: relative;
	float: left;
	background-image: url("/assets/main_categorybox_bg.png");
	background-repeat: no-repeat;
	width: 629px;
	height: 462px;
}

#main-category table {
	width: 629px;
	padding: 0px;
	margin: 55px 0px 0px 0px;
}

#main-category table tr {
	height: 78px;
}

#main-category table tr td {
	width: 280px;
	padding: 0px 8px 0px 10px;
	margin: 0px;
	word-break: keep-all;
	word-wrap: break-word;
}

#main-category .local {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 35px;
}

#main-category a.underline:hover {
	text-decoration: underline;
	color: #1d7350;
}

#main-category a .num {
	color: #aaa;
}

#main-category a:hover {
	color: #2ab07b;
}

#main-category a:hover .num {
	color: #2ab07b;
}

#main-category a:hover .local {
	color: #2ab07b;
}

#tabs {
	position: relative;
	float: left;
	width: 361px;
	height: 462px;
	&.tab1 {
		background-image: url("/assets/resty_focus_bg.png");
	}
	&.tab2 {
		background-image: url("/assets/activities_bg.png");
	}
	background-repeat: no-repeat;
	#buttons {
		margin: 0px;
		padding-left: 0px;
		height: 55px;
		li {
			display: inline;
			list-style-type: none;
			a {
				display: inline-block;
				height: 55px;
			}
			.tab1 {
				width: 176px;
				background: url("/assets/resty_focus_tab.png");
				&.over {
					background: url("/assets/resty_focus_tab_over.png");
				}
			}
			.tab2 {
				width: 170px;
				background: url("/assets/activities_tab.png");
				&.over {
					background: url("/assets/activities_tab_over.png");
				}
			}
		}
	}
	#resty-focus {
		height: 405px;
		ul {
			list-style-type: none;
			list-style-position: outside;
			li {
				height: 25px;
				padding-left: 10px;
				padding-right: 20px;
				&.odd {
					background: url("/assets/main_bullet_odd.png");
					background-repeat: no-repeat;
					background-position: 0 .5em;
				}
				&.even {
					background: url("/assets/main_bullet_even.png");
					background-repeat: no-repeat;
					background-position: 0 .5em;
				}
				.disrate {
					width: 33px;
					height: 18px;
					background: url("/assets/discount_bg.png");
					display: inline-block;
					color: white;
					text-align: center;
					font-size: .9em;
					margin-left: 5px;
				}
				.expiry {
					float: right;
				}
			}
		}
		.notice {
			height: 100px;
			margin-top: 15px;
			margin-bottom: 0px;
			margin-left: 0px;
			padding-left: 30px;
		}
		.discount {
			margin-top: 15px;
			height: 150px;
			margin-left: 0px;
			padding-left: 30px;
			a {
				max-width: 190px;
			}
		}
		.fb-like {
			margin-top: 10px;
			padding-left: 10px;
		}
		.coupon-title {
			position: relative;
			top: 10px;
			left: 15px;
		}
		.more-coupon {
			position: relative;
			top: 5px;
			left: 110px;
		}
	}
	#activities {
		margin-top: 3px;
		height: 405px;
		display: none;
		.pensions {
			height: 190px;
			overflow: hidden;
		}
		.spots {
			margin-top: 55px;
			height: 150px;
			overflow: hidden;
		}
	}
}

#main-landmarks {
	float: right;
	position: relative;
	background-image: url("/assets/main_landmarks_bg.png");
	background-repeat: no-repeat;
	width: 306px;
	height: 293px;
	ul {
		padding: 50px 0px 0px 20px;
		margin: 0px;
		list-style: none;
		li {
			height: 28px;
			padding-left: 10px;
			padding-right: 10px;
			&.odd {
				background: url("/assets/main_bullet_odd.png");
				background-repeat: no-repeat;
				background-position: 0 .6em;
			}
			&.even {
				background: url("/assets/main_bullet_even.png");
				background-repeat: no-repeat;
				background-position: 0 .6em;
			}
			a {
				font-weight: bold;
				&:hover {
					color: #2ab07b;
				}
			}
			.season {
				background-image: url("/assets/main_landmarks_season_button.png");
				width: 50px;
				height: 18px;
				text-indent: -9999px;
				display: inline-block;
			}
		}
	}
}

#main-themes {
	position: relative;
	float: right;
	background-image: url("/assets/main_themes_bg.png");
	background-repeat: no-repeat;
	width: 323px;
	height: 293px;
	ul {
		margin: 45px 0px 0px 10px;
		padding: 0px;
		list-style: none;
		li {
			float: left;
		}
	}
	a {
		div {
			background-repeat: no-repeat;
			width: 51px;
			height: 52px;
			margin: 4px 13px;
			text-indent: -9999px;
		}
		@for $i from 1 through 16 {
			.theme_#{$i} {
				background-image: url("/assets/theme_icon_#{$i}.png");
			}
			&:hover {
				.theme_#{$i} {
					background-image: url("/assets/main_themes_icon_#{$i}_over.png");
				}
			}
		}
	}
}

#main-must-visit-title {
	background-image: url("/assets/main_must_visit_title.png");
	background-repeat: no-repeat;
	width: 361px;
	height: 29px;
}

#main-must-visit {
	position: relative;
	float: right;
	background-image: url("/assets/main_must_visit_bg.png");
	width: 361px;
	height: 293px;
}
.nivoSlider {
    position: relative;
    width: 352px;
    height: 263px;
    background: url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}