// Place all the styles related to the pensions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sidebar {
	float: left;
	width: 228px;
	padding: 22px 27px 0px 10px;
	h3 {
		height: 46px;
		text-indent: -5000px;
		white-space: nowrap;
		margin: 15px 0px 0px 0px;
		&.more {
			cursor: pointer;
		}
	}
	.themes_box h3 {
		background-image: url("/assets/list_side_themes_header.png");
		&.hide {
			background-image: url("/assets/list_side_themes_header_.png");
		}
	}
	.prices_box h3 {
		background-image: url("/assets/list_side_prices_header.png");
	}
	.facilities_box h3 {
		background-image: url("/assets/list_side_facilities_header.png");
		&.hide {
			background-image: url("/assets/list_side_facilities_header_.png");
		}
	}
	.must_visit_banner {
		background-image: url("/assets/list_side_must_visit_bg.png");
		height: 183px;
		margin: 20px 0px 30px 0px;
		position: relative;
		h3 {
			position: absolute;
			background-image: url("/assets/list_side_must_visit_watermark.png");
			width: 123px;
			height: 124px;
			margin: 15px 0px 0px 50px;
			filter: alpha(opacity=80);
			opacity: 0.82;
			-moz-opacity: 0.8;
			z-index: 1;
		}
		img {
			position: absolute;
			margin: 1px 0px 0px 1px;
			z-index: 0;
		}
	}
	.coupon-banner {
		margin-top: 15px;
	}
	.box_footer {
		background-image: url("/assets/list_side_box_footer.png");
		background-repeat: no-repeat;
		height: 8px;
	}
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	ul li {
		height: 28px;
		padding-left: 40px;
		line-height: 28px;
		font-weight: bold;
		a {
			font-weight: normal;
		}
	}
	ul li.hide {
		display: none;
	}
	.checkbox{
		padding-left: 20px;
		margin: 0px;
	}
	.checked{
		background-image: url("/assets/list_side_facilities_check_on.png");
		background-repeat: no-repeat;
		width: 16px;
		height: 18px;
		padding-top: 3px;
	}
	.unchecked{
		background-image: url("/assets/list_side_facilities_check_off.png");
		background-repeat: no-repeat;
		width: 16px;
		height: 18px;
		padding-top: 3px;
	}
	ul li.odd {
		background-image: url("/assets/list_side_box_body_1.png");
	}
	ul li.even {
		background-image: url("/assets/list_side_box_body_2.png");
	}
	.facilities_box li {
		padding-left: 20px;
	}
	.friends-activities-box {
		h3 {
			background-image: url("/assets/show_side_friends_activities_header.png");
	    margin: 15px 0px 0px 0px;
		}
		li {
			background-image: url("/assets/show_side_friends_activities_body.png");
	    height: 48px;
	    padding-left: 15px;
		}
		.logout {
			li {
				line-height: 20px;
				height: 35px;
			}
		}
		img.profile {
	  	width: 36px;
	  	height: 38px;
			margin-top: 5px;
		}
		span {
			width: 160px;
			position: absolute;
			margin-top: 7px;
			height: 38px;
			padding-left: 10px;
			line-height: 17px;
		}
		.footer {
			background-image: url("/assets/show_side_box_body.png");
		  height: 20px;
		}
	}
	.pensions-box {
		.no-pensions {
			background-image: url("/assets/show_side_near_pensions_body.png");
			text-align: center;
			font-weight: bold;
			padding: 20px 0px;
		}
		h3.nearby {
			background-image: url("/assets/nearby_header.png");
		}
		h3.coupon {
			background-image: url("/assets/social_commerce_header.png");
		}
		h3 {
			text-indent: 0px;
			a {
				float: right;
				font-size: .8em;
				margin-top: 1em;
				margin-right: 1em;
				color: #d4efe5;
			}
		}
		ul li {
			background-image: url("/assets/show_side_near_pensions_body.png");
	    height: 73px;
	    padding: 0px 0px 0px 15px;
	    margin: 0px;
			.coupon {
				float: left;
				img {
					margin-top: 5px;
					height: 40px;
				}
			}
			.nearby {
				float: left;
				img {
					margin-top: 10px;
					height: 47px;
				}
			}
			.pension-info {
				float: right;
				text-align: right;
				width: 130px;
				padding-right: 10px;
				margin-top: 5px;
				p {
					margin: 0px;
				}
				.distance {
					float: right;
					background-image: url("/assets/show_side_near_pensions_review_bg.png");
					width: 60px;
					height: 18px;
					line-height: 17px;
					text-align: center;
					color: #ffffff;
					font-family: verdana;
				}
			}
			.discount-mark {
				color: white;
				padding-top: 3px;
				margin: 5px 10px 0px 0px;
				background-image: url("/assets/discount_tag.png");
				background-repeat: no-repeat;
				width: 47px;
				height: 40px;
				float: right;
				text-align: center;
			}
			.title {
				clear: both;
				padding-right: 10px;
				position: relative;
				bottom: 10px;
				font-weight: normal;
				a {
					font-weight: bold;
				}
			}
		}
		.footer {
			background-image: url("/assets/show_side_box_footer.png");
			background-repeat: no-repeat;
		  width: 228px;
    	height: 14px;
			margin-top: -2px;
			clear: both;
		}
	}
}
#main_content {
	float: right;
	width: 720px;
	.filters {
	  margin-bottom: 15px;
	}
	.filter {
	  border: solid 1px #999;
	  border-radius: 10px;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  background-color: #DDD;
	  padding: 5px 10px;
	  margin-bottom: 10px;
	  font-size: 12px;
	}
	.filter a {
		color: #207E59;
	  padding-left: 5px;
	}
	.header {
		width: 707px;
		margin: 37px 10px 0px 0px;
		ins {
			margin-top: 5px !important;
		}
		.crumbs {
			background-image: url("/assets/list_navigator_bg_1.png");
			background-repeat: no-repeat;
			height: 38px;
			line-height: 38px;
			padding-left: 20px;
			.delimiter {
				font-weight: bold;
				color: #2AB07B;
			}
			.back {
				float: right;
				padding-right: 15px;
				padding-left: 15px;
				background-image: url("/assets/back_to_list.png");
				background-repeat: no-repeat;
				background-position: left center;
			}
		}
		.nav {
			.addr1 {
				float: left;
				background-image: url("/assets/list_navigator_bg_2.png");
				background-repeat: no-repeat;
				width: 705px;
				height: 38px;
				line-height: 38px;
				margin: 0px 0px 0px 1px;
				ul {
					padding-left: 98px;
				}
			}
			.addr2 {
				background-image: url("/assets/list_navigator_bg_3.png");
				float: left;
				width: 705px;
				margin: 0px 0px 0px 1px;
				ul {
					width: 587px;
					padding-left: 98px;
					line-height: 30px;
				}
			}
		}
		.spots {
			clear: both;
			background-image: url("/assets/list_navigator_bg_1.png");
			background-repeat: no-repeat;
			height: 38px;
			line-height: 38px;
			padding-left: 15px;
			h3 {
				text-indent: -9999px;
				float: left;
				background-image: url("/assets/list_navigator_landmark_title.png");
				background-repeat: no-repeat;
				width: 64px;
				height: 15px;
				margin: 11px 0px 0px 0px;
			}
			.spots-body {
				float: left;
				width: 600px;
				white-space: nowrap;
				padding-left: 20px;
				.hidden {
					display: none;
				}
				
			}
			.next {
				position: relative;
				float: right;
				background-image: url("/assets/slider_arrow_next_.png");
				background-repeat: no-repeat;
  			width: 17px;
				height: 17px;
				margin: 10px 0px 0px 3px;
				padding: 0px;
				cursor: pointer;
				&.hidden {
					display: none;
				}
			}
			.prev {
				position: relative;
				float: right;
				background-image: url("/assets/slider_arrow_prev_.png");
				background-repeat: no-repeat;
  				width: 17px;
				height: 17px;
				margin: 10px 0px 0px 0px;
				padding: 0px;
				cursor: pointer;
			}
		}
		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
			white-space: nowrap;
		}
		ul li {
			position: relative;
			float: left;
			display: block;
			margin: 0px 9px 0px 0px;
		}
		ul li a {
			color: #96d8bd;
			&.even {
				color: #85c7ac;
			}
		}
		ul li.selected a {
			font-weight: bold;
			color: #fff;
		}
		ul li.dot {
			background-image: url("/assets/list_navigator_dot.png");
			background-repeat: no-repeat;
			background-position: right;
			padding-right: 15px;
		}
	}
	.map {
		width: 705px;
		height: 65px;
		margin: 10px 0px 0px 1px;
		#map {
			position: absolute;
			width: 705px;
			height: 65px;
		}
		#map-toggle {
			cursor: pointer;
			position: absolute;
			float: top;
			background-image: url("/assets/list_map_button.png");
			background-repeat: no-repeat;
			width: 705px;
			height: 65px;
			margin: 0px;
			filter: alpha(opacity=70);
			opacity: 0.7;
			-moz-opacity: 0.7;
			&.open {
				position: absolute;
				float: top;
				background-image: url("/assets/list_map_button_.png");
				background-repeat: no-repeat;
				width: 705px;
				height: 10px;
				margin: 0px;
				filter: alpha(opacity=70);
				opacity: 0.7;
				-moz-opacity: 0.7;
			}
		}
	}
	#map-rect {
		width: 705px;
		height: 10px;
	}
	#info-gps-x, #info-gps-y {
		display: none;
	}
	#pension-list {
    width: 707px;
    margin: 10px 10px 50px 0px;
		a:hover {
			color: #2ab07b;
		}
		.sort {
			height: 30px;
			.popular-order {
				position: relative;
				float: right;
				background-image: url("/assets/list_pension_icon_popular.png");
				background-repeat: no-repeat;
				height: 30px;
				line-height: 30px;
				text-indent: 25px;
				margin-right: 15px;
			}
			.like-order {
				position: relative;
				float: right;
				background-image: url("/assets/list_pension_icon_good.png");
				background-repeat: no-repeat;
				height: 30px;
				line-height: 30px;
				text-indent: 25px;
				margin-right: 30px;
			}
			.more-pensions {
				position: relative;
				float: right;
				height: 30px;
				line-height: 30px;
				text-indent: 25px;
				margin-right: 30px;
				font-weight: bold;
			}
		}
		.list {
			.pension-item {
				width: 707px;
				height: 150px;
			}
			.pension-item:hover {
				background-color: #f8fff8;
			}
			.must-visit-mark {
				text-indent: -9999px;
				position: absolute;
				background-image: url("/assets/list_pension_must_visit_mark.png");
				background-repeat: no-repeat;
				width: 70px;
				height: 70px;
				z-index: 2;
				left: 1px;
				top: 1px;
			}
			.discount-mark {
				color: white;
				padding-left: 11px;
				padding-top: 10px;
				position: absolute;
				background-image: url("/assets/discount_tag.png");
				background-repeat: no-repeat;
				width: 47px;
				height: 47px;
				right: 0px;
				top: 15px;
			}
			.left {
				position: relative;
				float: left;
				width: 470px;
				height: 150px;
				.pension-thumbnail {
					float: left;
					background-image: url("/assets/list_pension_image_shadow.png");
					background-repeat: no-repeat;
					width: 161px;
					height: 106px;
					padding: 20px 10px 30px 20px;
					background-position: 20px 20px;
					img {
						width: 157px;
						height: 102px;
						margin: 1px 0px 0px 1px;
						z-index: 0;
					}
				}
				.pension-info {
					float: left;
					width: 270px;
					height: 150px;
					.pension-name {
						margin-top: 13px;
						margin-bottom: 20px;
						a {
							font-size: 13px;
							color: #339966;
							font-weight: bold;
						}
						.fb_like {
							img {
								position: relative;
								top: 5px;
							}
							margin-left: 10px;
						}
					}
					.pension-type {
						margin: 5px;
					}
					.pension-theme {
						margin: 5px;
					}
					.pension-faci {
						margin: 5px;
					}
				}
			}
			.right {
				float: right;
				background-image: url("/assets/list_pension_info_bg.png");
				background-repeat: no-repeat;
				width: 230px;
				height: 140px;
				margin-top: 10px;
				.pension-addr {
					background-image: url("/assets/list_pension_icon_address.png");
					background-repeat: no-repeat;
					margin-top: 5px;
					margin-left: 20px;
					padding-left: 30px;
					padding-top: 5px;
				}
				.pension-price {
					background-image: url("/assets/list_pension_icon_price.png");
					background-repeat: no-repeat;
					margin-top: 15px;
					margin-left: 22px;
					padding-left: 30px;
					padding-top: 6px;
				}
				.pension-review {
					background-image: url("/assets/list_pension_icon_review.png");
					background-repeat: no-repeat;
					margin-top: 15px;
					margin-left: 22px;
					span.pension-review-count {
						font-weight: bold;
						text-align: center;
						margin-left: 5px;
					}
					span.review-btn {
						position: relative;
						top: 15px;
						padding-left: 15px;
					}
					span.detail-btn {
						background-image: url("/assets/list_pension_icon_detail.png");
						background-repeat: no-repeat;
						margin: 4px 0px 0px 100px;
						width: 100px;
						height: 25px;
						padding: 7px 0px 0px 30px;
					}
				}
			}
		}
		.line-dotted {
			background-image: url("/assets/list_pension_info_dot.png");
			background-repeat: repeat-x;
			height: 3px;
		}
	}
	#show-content {
		clear: both;
		width: 707px;
		margin: 10px 10px 20px 0px;
		.title {
			padding: 10px;
			h2 {
				font-size: 15px;
				display: inline;
				margin-right: 10px;
			}
		}
		.line-green {
			color: #2AB07B;
			background-color: #2AB07B;
			height: 2px;
			margin: 0px;
			border: none;
		}
		.body {
			background-image: url("/assets/show_detail_bgcolor.png");
			background-repeat: repeat;
			.pension-photo {
				float: left;
				width: 260px;
				height: 265px;
				padding: 20px 0px 65px 20px;
				img {
					width: 260px;
					height: 265px;
					margin: -2px 0px 0px -2px;
					border: solid 1px #ccc;
				}
			}
			.pension-detail {
				float: right;
				width: 410px;
				a {
					text-decoration: underline;
				}
				a:hover {
					color: #2ab07b;
				}
				#pension-info-type {
					background-image: url("/assets/show_pension_info_type_bg.png");
					background-repeat: no-repeat;
					height: 20px;
					margin-top: 20px;
					padding: 25px 0px 0px 2px;
				}
				#pension-info-faci {
					background-image: url("/assets/show_pension_info_faci_bg.png");
					background-repeat: no-repeat;
					height: 20px;
					margin-top: 5px;
					padding: 25px 0px 0px 2px;
				}
				#pension-info-theme {
					background-image: url("/assets/show_pension_info_theme_bg.png");
					background-repeat: no-repeat;
					height: 20px;
					margin-top: 5px;
					padding: 25px 0px 0px 2px;
				}
				#pension-info-url {
					background-image: url("/assets/show_pension_sites.png");
					background-repeat: no-repeat;
					height: 20px;
					margin-top: 5px;
					padding: 25px 0px 0px 2px;
				}
				#pension-info-start {
					background-image: url("/assets/show_pension_info_start_bg.png");
					background-repeat: no-repeat;
					height: 20px;
					margin-top: 5px;
					padding: 25px 0px 0px 2px;
					#findway-box {
						background-image: url("/assets/show_pension_info_find_way_bg.png");
						background-repeat: no-repeat;
						border: 0px;
						width: 314px;
						height: 26px;
						margin: 8px 0px 0px 0px;
						padding: 0px;
					}
					#findway-word {
						border: none;
						height: 16px;
						line-height: 18px;
						width: 275px;
						margin: 5px 10px;
						font-size: 1em;
					}
					#findway-button {
						position: absolute;
						right: 10px;
						border: 0px;
						width: 18px;
						height: 18px;
						margin-top: 5px;
					}
				}
				#pension-info-phone {
					background-image: url("/assets/show_reserv_phone_bg.png");
					background-repeat: no-repeat;
					width: 185px;
					height: 26px;
					line-height: 26px;
					margin-top: 20px;
					padding: 0px 3px;
					text-indent: 85px;
					color: #fff;
					display: inline-block;
				}
				#pension-info-room {
					background-image: url("/assets/show_room_info_button.png");
					background-repeat: no-repeat;
					width: 110px;
					height: 26px;
					display: inline-block;
					position: relative;
					top: 8px;
				}
				#pension-info-addr {
					background-image: url("/assets/list_pension_icon_address.png");
					background-repeat: no-repeat;
					border-bottom: 3px solid #ccc;
					float: right;
					height: 17px;
					padding: 7px 10px 7px 10px;
					text-indent: 20px;
					margin-top: 20px;
				}
				#pension-info-price {
					background-image: url("/assets/list_pension_icon_price.png");
					background-repeat: no-repeat;
					border-bottom: 3px solid #ccc;
					float: right;
					height: 17px;
					padding: 7px 10px 7px 10px;
					text-indent: 20px;
				}
				.discount-mark {
					color: white;
					padding-left: 11px;
					padding-top: 10px;
					float: right;
					width: 47px;
					height: 47px;
					background-image: url("/assets/discount_tag.png");
					background-repeat: no-repeat;
				}
			}
		}
		#coupon {
			background: #FBFBF9;
			margin-top: 20px;
			.provider {
				color: white;
				background: #2AB07B;
				padding: 3px;
				float: right;
			}
			.detail {
				padding: 10px;
				img {
					float: left;
					width: 300px;
				}
				div {
					width: 360px;
					float: right;
					a {
						font-size: 14px;
						font-weight: bold;
						&:hover {
							text-decoration: underline;
						}
					}
					.date {
						font-size: 13px;
					}
					.price {
						margin-top: 30px;
						.org_price {
							font-size: 15px;
							text-decoration: line-through;
						}
						.dis_price {
							font-size: 20px;
							color: red;
							margin-left: 10px;
						}
					}
				}
				.clear {
					clear: both;
				}
			}
		}
		#show-footer {
			background-image: url("/assets/show_detail_bgcolor.png");
			background-repeat: repeat;
			clear: both;
		}
		#show-review {
			#pension-review-title {
				background-image: url("/assets/show_pension_review_title.png");
				background-repeat: no-repeat;
				width: 705px;
				height: 30px;
				margin-top: 40px;
			}
		}
		#blog-review {
			float: left;
			width: 350px;
			margin-top: 30px;
			margin-bottom: 30px;
			.ajax-loader {
				margin-left: 150px;
			}
			.title {
				background-image: url("/assets/blog_header.png");
				background-repeat: no-repeat;
				height: 10px;
				.paginator {
					float: right;
					position: relative;
					bottom: 5px;
				}
			}
			ul {
				list-style-type: none;
				margin: 0px;
				padding-left: 0px;
				li {
					border-bottom: 2px solid #ccc;
					margin-right: 5px;
					padding-top: 10px;
					&:hover {
						background: #f2f2f2;
					}
					p {
						margin: 8px 0px;
						&.empty {
							text-align: center;
						}
						&.ellipsis {
							font-weight: bold;
							margin-top: 0px;
						}
					}
				}
			}
		}
		#pension-image {
			float: right;
			width: 350px;
			padding-left: 7px;
			margin-top: 33px;
			margin-bottom: 33px;
			.ajax-loader {
				margin-left: 150px;
			}
			.title {
				background-image: url("/assets/image_header.png");
				background-repeat: no-repeat;
				height: 10px;
				.paginator {
					float: right;
					position: relative;
					bottom: 5px;
				}
			}
			p.empty {
				text-align: center;
			}
			ul {
				list-style-type: none;
				margin-top: 5px;
			}
			ul li {
				display: inline;
				float: left;
				margin-left: -40px;
				margin-right: 46px;
				margin-bottom: 5px;
				&.last {
					margin-right: 0px;
				}
				img {
					width: 110px;
					height: 110px;
				}
			}
		}
	}
}
