// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-result {
	ul {
		list-style: none;
		padding: 0px;
		li {
			padding: 10px;
			a {
				background-repeat: no-repeat;
				font-size: 1.2em;
				font-weight: bold;
				padding-left: 25px;
				color: #375;
				&.area {
					background-image: url("/assets/resty_place_icon.png");
				}
				&.pension {
					background-image: url("/assets/resty_pension_icon.png");
				}
				&.spot {
					background-image: url("/assets/resty_sight_icon.png");
				}
			}
		}
	}
	p {
		padding-left: 5px;
		margin-top: 5px;
		color: #666;
	}
}
#search-list {
	position: relative;
	float: left;
	width: 228px;
	h3 {
		background-image: url("/assets/search_list_header.png");
		margin-bottom: 0px;
		height: 25px;
		color: white;
		padding-top: 10px;
		padding-left: 15px;
	}
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	ul li {
		height: 28px;
		padding-left: 40px;
		line-height: 28px;
		font-size: 13px;
		a:hover {
			text-decoration: underline;
		}
		&.odd {
			background-image: url("/assets/list_side_box_body_1.png");
		}
		&.even {
			background-image: url("/assets/list_side_box_body_2.png");
		}
	}
	.search-pensions {
		background-image: url("/assets/search_list_bg.png");
		padding-right: 5px;
		padding-top: 5px;
		.content {
			height: 400px;
			overflow: auto;
		}
	}
	.search-spots {
		background-image: url("/assets/search_list_bg.png");
		padding-right: 5px;
		padding-top: 5px;
		.content {
			height: 200px;
			overflow: auto;
		}
	}
	.box_footer {
		background-image: url("/assets/list_side_box_footer.png");
		height: 8px;
	}
}
#search-map {
	float: right;
	width: 740px;
	margin-top: 20px;
	h1 {
		color: #1D7350;
		display: inline;
	}
	span {
		font-size: 15px;
	}
}