// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-list {
	position: relative;
	float: left;
	width: 228px;
	margin-bottom: 10px;
	h3 {
		background-image: url("/assets/search_list_header.png");
		margin-bottom: 0px;
		height: 25px;
		color: white;
		padding-top: 10px;
		padding-left: 15px;
	}
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	.search-pensions {
		background-image: url("/assets/search_list_bg.png");
		padding-right: 5px;
		padding-top: 5px;
		.content {
			height: 450px;
			overflow: auto;
		}
		ul li {
			padding-left: 5px;
			height: 55px;
			font-size: 13px;
			background-image: url("/assets/list_side_box_body_1.png");
			a:hover {
				text-decoration: underline;
			}
			.thumbnail {
				float: left;
				img {
					height: 50px;
				}
			}
			p {
				float: right;
				width: 120px;
				height: 50px;
				margin: 0px;
			}
		}
	}
	.search-spots {
		background-image: url("/assets/search_list_bg.png");
		padding-right: 5px;
		padding-top: 5px;
		.content {
			height: 250px;
			overflow: auto;
		}
		ul li {
			height: 28px;
			padding-left: 40px;
			line-height: 28px;
			font-size: 13px;
			a:hover {
				text-decoration: underline;
			}
			&.odd {
				background-image: url("/assets/list_side_box_body_1.png");
			}
			&.even {
				background-image: url("/assets/list_side_box_body_2.png");
			}
		}
	}
	.box_footer {
		background-image: url("/assets/list_side_box_footer.png");
		height: 8px;
		background-repeat: no-repeat;
	}
}
#search-map {
	float: right;
	width: 740px;
	margin-top: 20px;
	h1 {
		color: #1D7350;
		display: inline;
	}
	span {
		font-size: 15px;
	}
	ins {
		margin-bottom: 5px !important;
		margin-left: 3px !important;
	}
}
.gmap_marker {
	h3 {
		margin-top: 0px;
		color: #1D7350;
	}
	div {
		height: 90px;
	}
	img.thumbnail {
		height: 102px;
	}
	.link {
		font-weight: bold;
		text-align: right;
		a {
			color: #2AB07B;
		}
	}
}