// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main_content {
	#show-content {
		#title, #show-footer {
			background-image: url("/assets/show_detail_bgcolor.png");
		}
		#spot-review-title {
			background-image: url("/assets/show_spot_review_title.png");
			background-repeat: no-repeat;
			width: 705px;
			height: 35px;
			margin-top: 40px;
		}
		#spot-info-sum {
			position: relative;
			float: left;
			width: 360px;
			padding: 20px 0px 0px 10px;
			line-height: 20px;
		}
		#spot-info-addr {
			position: relative;
			float: right;
			background-image: url("/assets/list_pension_icon_address.png");
			background-repeat: no-repeat;
			border-bottom: 3px solid #ccc;
			width: 297px;
			margin-top: 15px;
			padding: 7px 10px 7px 10px;
			text-indent: 20px;
			line-height: 20px;
		}
		#spot-info-phone {
			position: relative;
			float: right;
			background-image: url("/assets/show_spot_icon_phone.png");
			background-repeat: no-repeat;
			width: 297px;
			margin-top: 5px;
			padding: 7px 10px 7px 10px;
			text-indent: 20px;
		}
		#spot-info-source {
			clear: both;
			margin-top: 10px;
			padding: 10px;
		}
		#spot-info-start {
			position: absolute;
			float: right;
			background-image: url("/assets/show_pension_info_start_bg.png");
			background-repeat: no-repeat;
			width: 315px;
			height: 40px;
			padding: 25px 0px 0px 2px;
			margin-top: 100px;
			right: 15px;
		}
		#findway-box {
			position: relative;
			background-image: url("/assets/show_pension_info_find_way_bg.png");
			background-repeat: no-repeat;
			border: 0px;
			width: 314px;
			height: 26px;
			margin: 8px 0px 0px 0px;
			padding: 0px;
		}
		#findway-word {
			height: 16px;
			line-height: 18px;
			width: 275px;
			margin: 5px 10px;
			font-size: 1em;
			border: none;
		}
		#findway-button {
			position: absolute;
			right: 10px;
			border: 0px;
			width: 18px;
			height: 18px;
			margin-top: 5px;
		}
	}
}
