// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login-form {
	margin: 100px 0px;
	h1 {
		text-indent: -9999px;
		&.login {
			background: url("/assets/login_title.png") no-repeat center;
		}
		&.reset-password {
			background: url("/assets/reset_password_title.png") no-repeat center;
		}
		&.join {
			background: url("/assets/join_title.png") no-repeat center;
		}
		&.edit {
			background: url("/assets/user_edit_title.png") no-repeat center;
		}
	}
	.dot {
		height: 3px;
		background: url("/assets/list_pension_info_dot.png");
		background-repeat: repeat-x;
	}
	#error_explanation {
		margin-top: 20px;
		font-weight: bold;
		color: red;
		text-align: center;
	}
	table {
		margin: 20px auto 10px auto;
		h3 {
			margin: 0px;
			padding: 0px;
		}
		tr td {
			padding: 7px;
			&.align-center {
				text-align: center;
			}
			&.align-right {
				text-align: right;
			}
			&.join-fb {
				padding-right: 100px;
				padding-top: 20px;
			}
			&.join-resty {
				padding-left: 100px;
				padding-top: 20px;
			}
		}
	}
	#btns {
		width: 417px;
		margin: 10px auto;
		padding-left: 0px;
		text-align: right;
		list-style-type: none;
		li {
			display: inline;
			line-height: 30px;
			height: 30px;
			padding-left: 10px;
			.fb img {
				position: relative;
				top: 3px;
			}
		}
	}
	.text-input {
		border: 2px solid #ccc;
		width: 240px;
		height: 23px;
		font-size: 15px;
		font-family: verdana;
		padding-left: .5em;
		&.disabled {
			background: #ccc;
		}
	}
	#reset-input {
		display: none;
	}
}