<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAfYbrC3j-eC9_J5F_bZEEcxTSmgZntoPNWlO_PBdLIbBDSzXhaRSO6htZfBEKsO0rvyo52HPlz-fJOA" type="text/javascript"></script>
<script src="/assets/jquery.gmap-1.1.0-min.js" type="text/javascript"></script>
<script src="http://json-sans-eval.googlecode.com/svn/trunk/src/json_sans_eval.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  var gpsX1 = 130.0;
  var gpsY1 = 40.0;
  var gpsX2 = 0.0;
  var gpsY2 = 0.0;
  var markers = '';
  var countMarkers = 0;
  var zoom = 0;
  var rev = 0.48;
  
  function inputMarker(lat, lng, icon, hasHtml, name, imgSrc, type, faci, theme, addr, price, phone) {

  	var comma = '';
  	if (markers != '')
  		comma = ', ';

  	if (gpsX1 >= lng)
  		gpsX1 = lng;
  	if (gpsY1 >= lat)
  		gpsY1 = lat;
  	if (gpsX2 <= lng)
  		gpsX2 = lng;
  	if (gpsY2 <= lat)
  		gpsY2 = lat;

  	if (hasHtml) {
  		var content = "<h3 style=\'margin-top: 0px;\'>" + name + "<\/h3><div style=\'float: left;\'><img src=\'..\/..\/assets\/images\/" + imgSrc + "\' alt=\'\' title=\'" + name + "\' width=100 height=105 \/><\/div><div style=\'float: left; margin-left: 10px;\'><b>이용범위<\/b> : " + type + "<br \/><b>시설<\/b> : " + faci + "<br \/><b>테마<\/b> : " + theme + "<br \/><b>주소<\/b> : " + addr + "<br \/><b>가격대<\/b> : " + price + "<br \/><b>예약전화<\/b> : " + phone + "<\/div>";
  	}

  	if (!content) {
  		markers += comma + '{ "latitude": ' + lat + ', "longitude": ' + lng + ', "icon": { "image": "/assets/map_pin_' + icon + '.png", "iconanchor": [12, 46],	"infowindowanchor": [12, 0] } }';
  	} else {
  		markers += comma + '{ "latitude": ' + lat + ', "longitude": ' + lng + ', "icon": { "image": "/assets/map_pin_' + icon + '.png", "iconanchor": [12, 46],	"infowindowanchor": [12, 0] }, "html": "' + content + '" }';
  	}
  	countMarkers++;
  }
  
  $(document).ready(function() {
	  if (gpsY2-gpsY1 > 1.5){
  		zoom = -2;
  		rev = 1.92;
  	}
  	else if (gpsY2-gpsY1 > 0.8){
  		zoom = -1;
  		rev = 0.96;
  	}
  	else if (gpsY2-gpsY1 > 0.4){
  		zoom = 0;
  		rev = 0.48;
  	}
  	else if (gpsY2-gpsY1 > 0.2){
  		zoom = 1;
  		rev = 0.24;
  	}
  	else if (gpsY2-gpsY1 > 0.1){
  		zoom = 2;
  		rev = 0.12;
  	}
  	else if (gpsY2-gpsY1 > 0.05){
  		zoom = 3;
  		rev = 0.06;
  	}
  	else if (gpsY2-gpsY1 > 0.02){
  		zoom = 4;
  		rev = 0.03;
  	}
  	else if (gpsY2-gpsY1 > 0.01){
  		zoom = 5;
  		rev = 0.015;
  	}
  	else if (gpsY2-gpsY1 > 0.005){
  		zoom = 6;
  		rev = 0.008;
  	}
  	else if (gpsY2-gpsY1 < 0.001){
  		zoom = 8;
  		rev = 0.002;
  	}
  	else {
  		zoom = 7;
  		rev = 0.004;
  	}

    if(countMarkers > 0) {
    	if(countMarkers == 1) {
    		markers = markers + ', ' + markers;
    	}
    	markers = '[' + markers + ']';

      var jsonObj = jsonParse(markers);

    	$("#map").gMap({
    		markers: jsonObj,
  			html_prepend: "<div style='width: 420px;'>",
  			html_append: "</div>",
  			icon: { image: "/assets/map_pin_pension.png", iconanchor: [12, 46],	infowindowanchor: [9, 2] },
  			latitude: gpsY2 + (gpsY1-gpsY2)/2 + rev,
  			longitude: gpsX1 + (gpsX2-gpsX1)/2,
  			zoom: 8 + zoom});
    }
  
  $("#map-toggle").click( function() {
		if ($("#openCloseIdentifier").is(":hidden")) {
			$(this).removeClass("open");
			$(this).animate({ 
				height: "65px"
				}, 0 );
			$(this).animate({ 
				marginTop: "210px"
				}, 0 );
			$("#map").animate({ 
				height: "65px"
				}, 300 );
			$(this).animate({ 
				marginTop: "0px"
				}, 300 );
			$("#map-rect").animate({ 
				height: "10px"
				}, 300 );
			$("#openCloseIdentifier").show();
		} else {
			$(this).animate({ 
				height: "10px"
				}, 0 );
			$(this).animate({ 
				marginTop: "60px"
				}, 0 );
			$("#map").animate({ 
				height: "265px"
				}, 300 );
			$(this).animate({ 
				marginTop: "255px"
				}, 300 );
			$("#map-rect").animate({ 
				height: "210px"
				}, 300 );
			$("#openCloseIdentifier").hide();
			$(this).addClass("open");
		}
	});
});
</script>

<div class="map">
  <div id="openCloseIdentifier"></div>
  <div id="map"></div>
  <div id="map-toggle"></div>
</div>
<div id="map-rect"></div>