<% if Rails.env.production? %>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAfYbrC3j-eC9_J5F_bZEEcxRhll3qczicaB-8DyPygBqjvTbWmxS1Ser9JL--URs4SDek_QGbNBZy_w" type="text/javascript"></script>
<% else %>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAfYbrC3j-eC9_J5F_bZEEcxTSmgZntoPNWlO_PBdLIbBDSzXhaRSO6htZfBEKsO0rvyo52HPlz-fJOA" type="text/javascript"></script>
<% end %>
<script src="/assets/jquery.gmap-1.1.0-min.js" type="text/javascript"></script>
<script src="http://json-sans-eval.googlecode.com/svn/trunk/src/json_sans_eval.js" type="text/javascript"></script>
<div class="map">
  <div id="openCloseIdentifier"></div>
  <div id="map"></div>
  <div id="map-toggle"></div>
</div>
<div id="map-rect"></div>