<ul data-role="listview" class="spot-list" style="display:none;">
<% @spots.each do |spot| %>
  <li>
    <a href="<%= url_for spot %>">
      <%= content_tag :h3, spot.title %>
      <%= content_tag :p, spot.addr %>
    </a>
  </li>
<% end %>
<%= content_tag :li, '여행지가 존재하지 않습니다.', :class => 'align-center' if @spots.count == 0 %>
</ul>